<!DOCTYPE html>
<html lang="en">
<head>
  <title>EduChat XMPP Hello World!</title>
  <meta content="charset=utf-8" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
  <script src="/public/js/strophe.js"></script>

  <script src="/public/js/flXHR.js"></script>
  <script src="/public/js/strophe.flxhr.js"></script>
  <link rel="stylesheet" href="public/css/hello.css">
  <script src="/public/assets/js/app.js"></script>
</head>

<body>
  <div class="split-window">
    <h1>Chat Window</h1>

    <div id="toolbar">
      <input id="leave" type="button" value="Leave Room" disabled>
    </div>

    <div>
      <span id="room-name"></span>
      <span id="room-topic"></span>
      <div id="chat"></div>
      <textarea id="input"></textarea>
    </div>

    <div id="participants">
      <ul id="participant-list">
      </ul>
    </div>
  </div>

  <div id="debug-window" class="split-window">
    <h1>Debug Console</h1>

    <div id="console"></div>

    <textarea id="input" name="disabled" disabled ></textarea>

    <div id="buttonbar">
      <input id="send_button" type="submit" value="Send Data" disabled class="button">
      <input id="disconnect_button" type="submit" value="Disconnect" disabled class="button">
    </div>
  </div>
</body>
</html>
